.box {
    width: 100px;
    height: 50px;
    box-sizing: border-box;
    color: #333;
    background-color: #449d48;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.box-group {
    display: grid;
    padding: 40px 25px;
    grid-gap: 35px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box-group .box {
    font-family: "Nunito", sans-serif;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

@media (min-width: 576px) {
    .box-group .box {
        font-family: "Nunito", sans-serif;
        width: 200px !important;
        display: flex;
        justify-content: center !important;
        align-items: center !important;
    }
}
