.username-circle {
    width: 100px;
    height: 50px;
    border-radius: 50%;
    color: #FFFFFF;
    background-color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
}

.username-circle p {
    font-size: 1.0em;
}