$color_1: #333;
$color_2: #a1a1a1;
$color_3: #d50000;
$color_4: #ffa100;
$color_5: #4CAF50;
$color_6: white;
$color_7: #ddd;
$color_8: #FFFFFF;
$color_9: darkgray;
$color_10: transparent;
$color_11: black;
$font_family_1: Roboto, "Helvetica Neue", Arial, sans-serif;
$font_family_2: "Nunito", sans-serif;
$background_color_1: transparent;
$background_color_2: rgba(255, 255, 255, 0.9);
$background_color_3: #EBEFF2;
$background_color_4: white;
$background_color_5: inherit;
$background_color_6: rgba(255, 255, 255, 0.8);
$background_color_7: #1b5e20;
$background_color_8: #154a19;
$border_color_1: #154a19;

@-webkit-keyframes pop-in {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-4rem);
		transform: translateY(-4rem);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
@keyframes pop-in {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-4rem);
		transform: translateY(-4rem);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
html {
	margin: 0;
	height: 100%;
	width: 100%;
	font-weight: 400;
	font-family: $font_family_1;
	// margin: 2.5%;
	font-size: 16px;
}
body {
	height: 100%;
}
#root {
  margin: 0;
  display: flex;
	height: 100%;
	flex-direction: column;
	color: $color_1;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("./images/bg.jpeg") no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	justify-content: space-between;
}
.hide {
	display: none;
}
.show {
	display: block;
}
.d-flex-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.d-flex-col {
	display: flex;
	flex-direction: column;
}
.text-small {
	font-size: 0.83em;
}
.d-flex {
	display: flex;
}
.text-right {
	text-align: right;
}
h1 {
	font-family: $font_family_2;
}
h2 {
	font-family: $font_family_2;
}
h3 {
	font-family: $font_family_2;
}
h4 {
	font-family: $font_family_2;
}
h5 {
	font-family: $font_family_2;
}
h6 {
	font-family: $font_family_2;
}
.page-heading {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 0 40px;
	h1 {
		margin-bottom: 10px;
	}
	h2 {
		margin-bottom: 10px;
	}
	h3 {
		margin-bottom: 10px;
	}
	h4 {
		margin-bottom: 10px;
	}
	h5 {
		margin-bottom: 10px;
	}
	h6 {
		margin-bottom: 10px;
	}
	hr {
		color: $color_2;
		width: 55%;
	}
}
.danger {
	color: $color_3;
}
.warning {
	color: $color_4;
}
.success {
	color: $color_5;
}
.text-center {
	text-align: center;
}
a {
	color: $color_1;
	text-decoration: none;
	cursor: pointer;
	&:hover {
		transition: color 0.5s;
		color: $color_5;
	}
	&:focus {
		transition: color 0.5s;
		color: $color_5;
	}
}
a.active {
	transition: color 0.5s;
	color: $color_5;
}
.change {
	&:active {
		transition: color 0.5s;
		color: $color_6;
	}
}
hr {
	color: $color_7;
	box-sizing: content-box;
	height: 0;
	width: 99.9%;
	overflow: hidden;
	border-style: solid;
	border-width: 0.5px;
}
.w-90 {
	width: 90%;
}
.footer {
	display: flex;
	height: 70px;
	color: $color_8;
	background-color: $background_color_1;
	padding: 0 10px;
	text-align: center;
	justify-content: center;
	align-items: center;
	p {
		font-size: 12px;
	}
}
.main-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 70px;
	flex-grow: 10;
}
.searchbar {
	border-radius: 3px;
	border-style: none;
	padding: 5px 5px;
	font-family: $font_family_2;
	font-size: 12px;
	outline: none;
	box-shadow: 2px 2px #1b5e20;
	cursor: pointer;
}
.auth {
	border-radius: 0px;
	padding: 10px 30px;
	width: 100%;
	background-color: $background_color_2;
	hr {
		color: $color_9;
	}
	.title {
		text-align: center;
	}
}
.order-confirmation {
	border-radius: 0px;
	padding: 10px 30px;
	width: 100%;
	background-color: $background_color_2;
	margin-top: 50px;
	padding-bottom: 40px !important;
	background-color: $background_color_6;
	hr {
		color: $color_9;
	}
	.title {
		text-align: center;
	}
	h2 {
		text-align: center;
	}
	.order-summary {
		border-bottom: 1px solid #ddd;
		>div {
			display: flex;
			p {
				&:nth-child(1) {
					flex-grow: 1;
				}
				&:nth-child(3) {
					flex-grow: 1;
					text-align: right;
				}
			}
			select {
				flex-grow: 2;
			}
		}
	}
	.order-amount {
		&:not(.driver-order-total) {
			border-bottom: 1px solid #ddd;
		}
		>div {
			display: flex;
			justify-content: space-between;
			&:last-child {
				display: flex;
				align-items: center;
				border-top: 1px solid #ddd;
			}
		}
	}
	.customer-details {
		border-bottom: 1px solid #ddd;
	}
	.order-misc {
		border-bottom: 1px solid #ddd;
	}
}
.driver {
	display: block;
	background: none;
	background-color: $background_color_3 !important;
	color: $color_1;
	margin-left: 0;
	.header {
		position: relative;
		background-color: $background_color_4;
		.navbar {
			.page-title {
				a {
					color: $color_1;
				}
			}
			.navlinks {
				.link {
					color: $color_1;
				}
			}
		}
	}
	.navbar {
		color: $color_1;
		background-color: $background_color_5;
		.driver-nav {
			flex-grow: 0;
			.dropdown.notification {
				.dropdown-content {
					margin-right: 0;
				}
			}
		}
		.date {
			margin: 0;
		}
	}
	.navlinks {
		color: $color_1;
	}
	.footer {
		p {
			color: $color_1;
		}
	}
	.content-wrapper {
		display: flex;
		flex-direction: column;
		align-content: space-around;
	}
	.main-wrapper {
		align-items: center;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		margin-top: 0;
	}
	.date {
		justify-content: space-between;
		align-items: center;
		margin: 0 40px;
		flex-direction: row;
		hr {
			color: $color_2;
			width: 55%;
		}
		h2 {
			font-size: 20px;
		}
	}
	.page-heading {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 40px;
		hr {
			color: $color_2;
			width: 55%;
		}
	}
	.header-date {
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
}
.driver.no-date {
	.content {
		margin-top: 0px;
	}
}
.box-group {
	.box {
		margin-bottom: 20px;
	}
	.auth {
		font-family: $font_family_2;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 50px;
	}
	.order-confirmation {
		font-family: $font_family_2;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 50px;
	}
}
.offer-create {
	text-align: left;
	width: 100%;
	margin: 2% auto;
}
.selectdate-div {
	position: relative;
	.btn-sec {
		border: 0;
		font-size: 20px;
		color: $color_1;
	}
	#selectdate {
		position: absolute;
		width: 99%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		&::-webkit-calendar-silect-indicator {
			position: absolute;
			width: auto;
			height: auto;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			color: $color_10;
			background: transparent;
			opacity: 1;
			cursor: pointer;
		}
	}
}
.user {
	background-color: $background_color_4;
	background-size: cover;
	background-attachment: fixed;
	.header {
		left: 0%;
		width: 100%;
		position: fixed;
		.navbar {
			.page-title {
				a {
					color: $color_1;
				}
			}
			.navlinks {
				.link {
					color: $color_1;
				}
			}
		}
	}
	.content-wrapper {
		margin-top: 70px;
	}
	.navbar {
		box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.1);
	}
	.navlinks {
		color: $color_1;
	}
	.footer {
		p {
			color: $color_1;
		}
	}
}
.inline {
	display: inline;
	flex-direction: row;
}
.current {
	text-align: center;
}
#search {
	border: none;
}
.order-history {
	display: flex;
	flex-direction: column;
	margin: 20px;
	width: 100%;
	.tabs {
		padding: 20px;
	}
}
.order-details.order-details-btn {
	&:first-child {
		padding: 10px 57px;
	}
}
.order-details {
	.order-date {
		margin: 0;
	}
}
.home {
	display: flex;
	flex-direction: column;
	margin-top: 0;
	height: 100%;
	.landing {
		color: $color_8;
		text-align: center;
		font-family: $font_family_2;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		h1 {
			margin: 0 0 10%;
			font-size: 2.0em;
			padding: 0 1em;
			margin-bottom: 8.33333%;
			-webkit-animation: pop-in .6s ease-out;
			animation: pop-in .6s ease-out;
		}
		p {
			font-size: 1.8em;
		}
		button {
			border: 2px solid #1b5e20;
			background-color: $background_color_7;
			color: $color_8;
			padding: 12px 40px;
			font-size: 1.15em;
			&:hover {
				transition: background-color 0.5s, border-color 0.5s;
				background-color: $background_color_8;
				border-color: $border_color_1;
				color: $color_8;
			}
		}
		button.focus {
			transition: background-color 0.5s, border-color 0.5s;
			background-color: $background_color_8;
			border-color: $border_color_1;
			color: $color_8;
		}
		button.active {
			transition: background-color 0.5s, border-color 0.5s;
			background-color: $background_color_8;
			border-color: $border_color_1;
			color: $color_8;
		}
	}
	.ridez {
		background: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)),no-repeat center center;
		background-color: $background_color_4;
		background-size: cover;
		background-attachment: fixed;
	}
}
.auth-wrapper {
	margin-top: 0;
}
.order-wrapp {
	color: $color_6;
}
.order-wraps {
	color: $color_11;
}
@media (min-width: 768px) {
	.d-md {
		display: block;
	}
	.d-flex-md {
		display: flex;
	}
	.d-none-md {
		display: none;
	}
}
@media (max-width: 767.98px) {
	.d-flex-md {
		display: none !important;
	}
	.driver {
		.date {
			text-align: center;
			flex-direction: column;
		}
	}
}
@media (min-width: 992px) {
	.d-lg {
		display: block;
	}
	.d-flex-lg {
		display: flex;
	}
	.d-none-lg {
		display: none;
	}
	.order-history {
		margin: 50px;
		width: 60%;
	}
	.home {
		.landing {
			h1 {
				font-size: 3em;
			}
		}
	}
}
@media (min-width: 451px) {
	.auth {
		border-radius: 5px;
	}
	.order-confirmation {
		border-radius: 5px;
	}
}
@media (min-width: 767.98px) {
	.driver {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		margin-left: 250px;
		.header {
			background-color: $background_color_3;
		}
		.content {
			flex-grow: 10;
			display: flex;
			flex-direction: row;
			min-height: 100%;
			margin-top: 0px;
			.content-wrapper {
				flex-grow: 1;
			}
		}
	}
	.driver.user {
		margin-left: 0;
	}
}
@media (min-width: 576px) {
	.box-group {
		.box {
			font-family: $font_family_2;
			width: 300px !important;
			display: flex;
			justify-content: center !important;
			align-items: center !important;
		}
		.auth {
			font-family: $font_family_2;
			width: 300px !important;
			display: flex;
			justify-content: center !important;
			align-items: center !important;
		}
		.order-confirmation {
			font-family: $font_family_2;
			width: 300px !important;
			display: flex;
			justify-content: center !important;
			align-items: center !important;
		}
	}
}
@media (min-width: 451px) and (max-width: 575.98px) {
	.auth {
		width: 75%;
		padding: 10px 35px;
	}
	.order-confirmation {
		width: 75%;
		padding: 10px 35px;
	}
	.order-history {
		margin: 30px;
		width: 100%;
	}
}
@media (min-width: 576px) and (max-width: 767.98px) {
	.auth {
		width: 60%;
		padding: 10px 35px;
	}
	.order-confirmation {
		width: 60%;
		padding: 10px 35px;
	}
	.order-history {
		margin: 40px;
		width: 80%;
	}
	.home {
		.landing {
			h1 {
				font-size: 2.2em;
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.auth {
		width: 60%;
		padding: 20px 50px;
	}
	.order-confirmation {
		width: 60%;
		padding: 20px 50px;
	}
	.order-history {
		margin: 50px;
		width: 60%;
	}
	.home {
		.landing {
			h1 {
				font-size: 2.2em;
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.auth {
		width: 50%;
		padding: 10px 50px;
	}
	.order-confirmation {
		width: 50%;
		padding: 10px 50px;
	}
}
@media (min-width: 1200px) {
	.auth {
		width: 40%;
	}
	.order-confirmation {
		width: 40%;
	}
}
